body {
	background-color: DarkGrey;
	font-family: 'Courier New', Courier, monospace;
	font-size: 12pt;
}
h2 {
	font-weight: bold;
	font-size: 16pt;
}
p {
	font-weight: bold;
	font-size: 14pt;
}
summary {
	color: blue;
	display: flex;
	column-count: 3;
}
