body {
	background-color: dark-grey;
	font-family: 'Courier New', Courier, monospace;
	font-color: light-grey;
}
h2 {
	font-weight: bold;
	font-size: 16pt;
}
p {
	font-weight: bold;
	font-size: 14pt;
}
a {
	font-size: 12pt;
}
