body {
	background-color: DarkGrey;
	font-family: 'Courier New', Courier, monospace;
	font-size: 12pt;
}
h2 {
	font-weight: bold;
	font-size: 16pt;
}
p {
	font-weight: bold;
	font-size: 14pt;
}
details {
	column-count: 3;
}
summary {
	color: DarkBlue;
	display: flex;
}
div {
	width: 75%;
	/* I love w3schools */
	margin: auto;
	
}
